$brand-primary: #1c3b4a;
$brand-lighter: mix(white, $brand-primary, 70) !default;
$white: #fff !default;
$black: #000 !default;
$offwhite: #f8f9fa !default;
$gray: mix(#8590a4, $brand-primary, 90) !default;

$gray-100: mix(#f8f9fa, $brand-primary, 95) !default;
$gray-200: mix(#e9ecef, $brand-primary, 95) !default;
$gray-300: mix(#dae0e4, $brand-primary, 90) !default;
$gray-500: mix(#636c72, $brand-primary, 90) !default;
$gray-800: #343a40 !default;
