django==2.1.7
django-compressor==2.2.*
django-jsonfallback==2.1.2
django-libsass==0.7
jsonschema==3.0.1
psycopg2-binary
requests
rfc3987

# prod
gunicorn
whitenoise

# dev
pytest
pytest-django
pytest-sugar
